@import './media';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: color(text);
}

a {
  color: color(text);
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.m-auto {
  margin: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-reverse {
  flex-direction: column-reverse;
}

.j-start {
  justify-content: flex-start;
}
.j-end {
  justify-content: flex-end;
}
.j-space {
  justify-content: space-between;
}

.al-start {
  align-items: flex-start;
}
.al-end {
  align-items: flex-end;
}
.al-bet {
  align-content: space-between;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.img,
svg {
  width: 100%;
  height: 100%;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.block {
  display: block;
}

.theme-color {
  color: color(theme);
  fill: color(theme);
}

.secondary-color {
  color: color(secondary);
  fill: color(secondary);
}

.clipped-text {
  display: -webkit-box;
  -webkit-line-clamp: var(--number);
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  text-overflow: ellipsis;
  hyphens: auto;
}

.txt-center {
  text-align: center;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1300px;

  @include for-size(desktop-up) {
    width: 1100px;
  }

  @include for-size(smaller-desktop) {
    width: 90%;
  }
}

.full-center {
  display: grid;
  align-items: center;
}

.centered {
  display: grid;
  place-content: center;
}

%centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center {
  @extend %centered;
}

.before {
  @extend %centered;
}

ul,
li {
  list-style: none;
}

.read-more {
  color: color(theme);
  font-size: 0.9em;
}

.underline {
  border-bottom: 1px solid black;
}

.card {
  @include for-size(phone-only) {
    flex-direction: column;
  }

  .img-sec,
  .text-sec {
    width: 50%;

    @include for-size(phone-only) {
      width: 90%;
    }
  }

  &.var {
    .img-sec,
    .text-sec {
      width: unset;

      @include for-size(phone-only) {
        width: 90%;
      }
    }
  }
}

.m-150 {
  margin-top: 150px;
}

.inblock {
  display: inline-block;
}

.m-150 {
  margin-top: 150px;
}
